.feature {

    &__icon {
        width: 12rem;
        height: 12rem;
        background-color: #045381;
        padding: 3rem;
        border-radius: 3rem;

        
    }

    &__text-1 {
        font-size: 2rem;
        color: #fff;
       
    }

    &__text-2 {
        font-size: 1.5rem;
        color: #a2a2a2;
        line-height: 1.5;
        width: 70%;
    }

    @include respond(tab-port) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.second-section {
    padding: 10rem 0;
}